/**------------------------------------- contect  style---------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contect-section{
    height:100%;
    width: 100%;
}
.contect-section .main-heading {

    display: flex;

    justify-content: center;
    align-items: center;
    padding: 60px 20px 30px 20px;

}

.contect-section .main-heading h1 {
    margin: 0px;
    text-align: center;
    padding: 30px 40px;
    color: #ffffff;
    font-weight: 700;
    font-size: 45px;
    border: 3px solid #ffc20a;
    border-radius: 40px;
    background-color: #ff3c00;
}
  .contect-section .links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
.links{ width:100%;}
.link-card{
    width: 800px;
    padding: 20px 40px;

margin: 30px;
border: #ffc20a 3px solid;
background-color: rgb(255, 255, 255);
border-radius: 30px;

}

.links .link-icon{
   
    display: flex;
    width: 300px;
    padding: 10px; 
    margin: 10px 20px;

    img{
        width: 100px;
    }
}

.links .link-icon a{
    display: flex;
}
